<h3><i class='fas fa-book-reader'></i> StoryBooks</h3>
<div class='section'>
  <p class='lead'>Create public and private stories from your life</p>
</div>
<div class='divider'></div>
<div class='section'>
  <input type='email' name='email' id='email' placeholder='email' />
  <input type='password' id='password' name='password' placeholder='password' />
  <input type='text' id='firstName' name='firstName' placeholder='First name' />
  <input type='text' id='lastName' name='lastName' placeholder='Last name' />

  <div id='login' class='btn red darken-1'>
    <i class='fab left'></i>
    Register
  </div>
  <a href='/' class='btn red darken-1'>
    <i class='fab left'></i>
    Login
  </a>
</div>